<header class="pages-header bg-img valign parallaxie" data-background="assets/img/pg1.jpg" data-overlay-dark="5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cont text-center">
                    <h1>Acerca de Nosotros</h1>
                    <div class="path">
                        <a (click)="global.setRoute('home')">Inicio</a><span>/</span><a class="active">Acerca de
                            Nosotros</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- ==================== End Header ==================== -->



<!-- ==================== Start about ==================== -->

<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="numbers">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="item mb-50">
                                <h3><span class="nbr custom-font">352</span></h3>
                                <h6>Projects Completed</h6>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="item mb-50">
                                <h3><span class="nbr custom-font">567</span></h3>
                                <h6>Satisfied Clients</h6>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="item">
                                <h3><span class="nbr custom-font">656</span><i>M</i></h3>
                                <h6>Monthly Revenue</h6>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="item">
                                <h3><span class="nbr custom-font">17</span></h3>
                                <h6>Awards Won</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="txt-cont">
                    <h2 class="custom-font" style="color: #dec48b;">Espatium Arquitectos</h2>
                    <p class="mb-20">"Espatium Arquitectos es una Pequeña Firma de Arquitectura Boutique; Que brinda
                        servicios completos de Arquitectura, Diseño de interiores & Construcción Sustentable.

                        Ayudamos a las personas, empresas, e instituciones, a crear experiencias extraordinarias,
                        convirtiendo sus grandes ideas en Arquitectura Contemporánea con espacios modernos, asequibles,
                        seguros e inolvidables.”</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="services halfbg">
    <div class="background bg-img valign parallaxie" data-background="assets/img/04.jpg" data-overlay-dark="7">
        <div class="container">
            <h2 class="custom-font">Nuestra Visión</h2>
            <h6 class="mb-20">Somos una firma de diseño con un propósito que
                trasciende:</h6>
            <p>Firmemente que la buena arquitectura tiene la capacidad de generar un impacto
                positivo en nuestras vidas y transformar la realidad de las comunidades en las que operamos. Aunque
                cada proyecto es único, en su particularidad también contribuimos a construir ciudad, destacando
                siempre la plástica arquitectónica que define nuestro enfoque.</p>
        </div>
    </div>
    <div class="container ontop">
        <div class="row">

            <div class="col-lg-3 col-md-6 item-bx">
                <h2 class="custom-font numb">01</h2>
                <h6 class="mb-20">Innovación:</h6>
                <p>
                    Con un espíritu innovador, ofrecemos soluciones funcionales que no solo satisfacen necesidades
                    prácticas, sino que también inspiran y transforman los espacios y la vida de quienes los habitan.
                </p>

            </div>
            <div class="col-lg-3 col-md-6 item-bx">
                <h2 class="custom-font numb">02</h2>
                <h6 class="mb-20">Trabajo en equipo</h6>
                <p>En Espatium Arquitectos, contamos con un equipo multidisciplinario de expertos en arquitectura,
                    ingeniería y diseño de interiores, preparados para desarrollar proyectos de cualquier tipo,
                    cumpliendo regulaciones y fomentando la colaboración para garantizar el éxito.</p>
            </div>
            <div class="col-lg-3 col-md-6 item-bx">
                <h2 class="custom-font numb">03</h2>
                <h6 class="mb-20">Alineación de intereses</h6>
                <p>Nuestro enfoque contempla un equilibrio entre una arquitectura contemporánea congruente y los
                    intereses y objetivos de nuestros clientes e inversionistas, asegurando que cada diseño cumpla con
                    las expectativas y necesidades de quienes confían en nosotros.</p>
            </div>

            <div class="col-lg-3 col-md-6 item-bx">
                <h2 class="custom-font numb">04</h2>
                <h6 class="mb-20">Valor</h6>
                <p>
                    Espatium Arquitectos se distingue por crear diseños con una excelente relación costo-beneficio, lo
                    que se traduce en una mayor plusvalía y rentabilidad para el patrimonio e inversión de nuestros
                    clientes.</p>
            </div>

        </div>
    </div>
</section>

<div class="skills-sec section-padding pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 valign">
                <div class="skills-box full-width">
                    <div class="skill-item">
                        <h6>Arquitectura</h6>
                        <div class="skill-progress">
                            <div class="progres custom-font" data-value="90%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <h6>Diseño de Interiores</h6>
                        <div class="skill-progress">
                            <div class="progres custom-font" data-value="75%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <h6>Modelado 3D</h6>
                        <div class="skill-progress">
                            <div class="progres custom-font" data-value="80%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <h4 class="playfont line-height-50 mb-20" style="color: #dec48b;">Nuestra Misión</h4>
                    <p class="mb-10">Nos dedicamos a ayudar a personas, empresas e instituciones a materializar grandes
                        ideas a través de la Arquitectura Contemporánea, creando espacios modernos, asequibles, seguros
                        e inolvidables que ofrecen experiencias extraordinarias.</p>
                    <p>Nuestra misión es simple pero poderosa: hacer feliz a la gente. ¡Diseñamos para tu felicidad!
                        Con un enfoque en diseños saludables, funcionales y significativos, contribuimos a mejorar la
                        calidad de vida de las personas. Nuestros proyectos no solo transforman espacios, sino que
                        también agregan valor a quienes los habitan, creando un impacto positivo y duradero.

                        Priorizamos la eficiencia en el uso de materiales y la integración armoniosa con el entorno. Nos
                        apasiona aprovechar los cambios de escala, incorporar espacios abiertos como patios y plazas, y
                        destacar la luz natural como un elemento central que llena de calidez cada rincón.

                        Creemos firmemente que la colaboración activa de nuestros clientes es esencial para lograr
                        resultados excepcionales. Su participación en el proceso creativo es ¡indispensable!

                        Como decimos: “La buena arquitectura nace cuando el cliente forma parte del proceso”.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="team tmgrid section-padding pt-80">
    <div class="container">
        <div class="section-head text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <h2 class="custom-font" style="color: #dec48b;">El Talento</h2>

                </div>
                <p class="mb-20">
                    Nuestra fuerza reside en nuestra individualidad. Fundado por vicente ochoa, ESPATIUM ARQUITECTOS
                    se esfuerza por incorporar a los mejores talentos en diversos campos, desde la arquitectura, el
                    diseño de interiores y el mobiliaio sobre diseño.</p>
            </div>
        </div>
        <div class="row">
            <div class="item col-lg-4 col-md-6">
                <div class="img">
                    <img src="assets/img/TEAM/vicente.png" alt="">
                    
                </div>
                <div class="info">
                    <h5>Vicente Ochoa</h5>
                    <span>Founder / Manager Partner</span>
                </div>
            </div>
            <div class="item col-lg-4 col-md-6">
                <div class="img">
                    <img src="assets/img/TEAM/rodrigo.png" alt="">
                    
                </div>
                <div class="info">
                    <h5>Rodrigo de Loera</h5>
                    <span>Chairman Creative Oficce Architect</span>
                </div>
            </div>
            <div class="item col-lg-4 col-md-6">
                <div class="img">
                    <img src="assets/img/TEAM/maya.png" alt="">
                    
                </div>
                <div class="info">
                    <h5>Angel Maya
                    </h5>
                    <span>Asociate Architect</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== End Team ==================== -->



<!-- ==================== Start Blog ==================== -->