
<nav class="navbar change navbar-expand-lg">
    <div class="container">

        <!-- Logo -->
        <a class="logo" >
            <img src="assets/img/logo.png" alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" >Inicio</a>
                   
                </li>
                <li class="nav-item">
                    <a class="nav-link">Espatium</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Precios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Recursos de diseño</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" >Contacto</a>
                </li>
                
            </ul>
            <div class="social-icon">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-behance"></i></a>
            </div>
            
        </div>
    </div>
</nav>