
  <header class="slider">
    <div class="swiper-container parallax-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="assets/img/slid/1.jpg" data-overlay-dark="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="caption hmone">
                                    <h5 class="thin custom-font">Diseño Sustentable</h5>
                                    <h1 data-splitting><a>Soluciones Ecoeficientes</a></h1>
                                    <p class="mt-10">Creamos espacios que respetan el medio ambiente y optimizan los
                                        recursos naturales, con un diseño que armoniza con el entorno.</p>
                                    <a class="btn-curve btn-bord btn-lit mt-30">
                                        <span>Ver Más</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="assets/img/slid/2.jpg" data-overlay-dark="5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="caption hmone">
                                    <h5 class="thin custom-font">Llave en Mano</h5>
                                    <h1 data-splitting><a href="index.html#0">Calidad Garantizada</a></h1>
                                    <p class="mt-10">Nos ocupamos de cada detalle, desde la planificación hasta la
                                        entrega, asegurando máxima calidad y satisfacción en cada proyecto.</p>
                                    <a href="index.html#0" class="btn-curve btn-bord btn-lit mt-30">
                                        <span>Conoce Más</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="assets/img/slid/2.jpg" data-overlay-dark="5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="caption hmone">
                                    <h5 class="thin custom-font">Innovación & Confort</h5>
                                    <h1 data-splitting><a href="index.html#0">Diseños Inteligentes</a></h1>
                                    <p class="mt-10">Integramos diseño moderno con tecnologías sustentables, ofreciendo
                                        hogares funcionales y estéticamente inspiradores.</p>
                                    <a href="index.html#0" class="btn-curve btn-bord btn-lit mt-30">
                                        <span>Descubre Más</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="setone">
            <div class="swiper-button-next swiper-nav-ctrl next-ctrl">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
        <div class="swiper-pagination top custom-font"></div>
    </div>
</header>  

<!-- <header class="slid-half">
    <div id="js-cta-slider" class="cta__slider-wrapper nofull swiper-container">
        <div class="swiper-wrapper cta__slider">
            
            <div class="cta__slider-item swiper-slide">
                <div class="media-wrapper slide-inner valign">
                    <div class="bg-img" data-background="assets/img/slid/1.jpg" data-overlay-dark="6"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="caption">
                                    <span class="top-corn"></span>
                                    <span class="bottom-corn"></span>
                                    <div class="custom-font">
                                        <h5 class="thin custom-font">Diseño Sustentable</h5>
                                        <h1 data-splitting><a>Soluciones Ecoeficientes</a></h1>
                                    </div>
                                    <p>Creamos espacios que respetan el medio ambiente y optimizan los
                                        recursos naturales, con un diseño que armoniza con el entorno.</p>
                                    <a class="btn-curve btn-color mt-30">
                                        <span>Ver Más</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="cta__slider-item swiper-slide">
                <div class="media-wrapper slide-inner valign">
                    <div class="bg-img" data-background="assets/img/slid/2.jpg" data-overlay-dark="5"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="caption">
                                    <span class="top-corn"></span>
                                    <span class="bottom-corn"></span>
                                    <div class="custom-font">
                                        <h5 class="thin custom-font">Llave en Mano</h5>
                                        <h1 data-splitting><a>Calidad Garantizada</a></h1>
                                    </div>
                                    <p>Nos ocupamos de cada detalle, desde la planificación hasta la
                                        entrega, asegurando máxima calidad y satisfacción en cada proyecto.</p>
                                    <a class="btn-curve btn-color mt-30">
                                        <span>Conoce Más</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="cta__slider-item swiper-slide">
                <div class="media-wrapper slide-inner valign">
                    <div class="bg-img" data-background="assets/img/slid/2.jpg" data-overlay-dark="5"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="caption">
                                    <span class="top-corn"></span>
                                    <span class="bottom-corn"></span>
                                    <div class="custom-font">
                                        <h5 class="thin custom-font">Innovación & Confort</h5>
                                        <h1 data-splitting><a>Diseños Inteligentes</a></h1>
                                    </div>
                                    <p>Integramos diseño moderno con tecnologías sustentables, ofreciendo
                                        hogares funcionales y estéticamente inspiradores.</p>
                                    <a class="btn-curve btn-color mt-30">
                                        <span>Descubre Más</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="cta__slider-arrows">
            <i id="js-cta-slider-next" class="cta__slider-arrow cta__slider-arrow--next">
                <i class="fas fa-chevron-up"></i>
            </i>
            <i id="js-cta-slider-previous" class="cta__slider-arrow cta__slider-arrow--previous">
                <i class="fas fa-chevron-down"></i>
            </i>
        </div>
    </div>
    <div class="swiper-pagination top custom-font"></div>
</header> -->

<section class="services">
    <div class="feat-top">
        <div class="notfull bg-gray wow"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="item-sm wow fadeInUp" data-wow-delay="1s">
                        <div class="box">
                            <h6 class="mb-20"><span class="custom-font numb">01</span> Diseño Arquitectónico</h6>
                            <p>Ofrecemos soluciones personalizadas que inspiran y transforman, diseñando espacios que reflejan la personalidad y objetivos de nuestros clientes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item-sm wow fadeInUp" data-wow-delay="1.1s">
                        <div class="box">
                            <h6 class="mb-20"><span class="custom-font numb">02</span> Construcción Llave en Mano</h6>
                            <p>Trabajamos con precios y tiempos cerrados, asegurando transparencia total en cada etapa del proyecto y sin sorpresas en el presupuesto final.</p>
                            <a class="more custom-font mt-30">Leer Más</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item-sm wow fadeInUp" data-wow-delay="1.2s">
                        <div class="box">
                            <h6 class="mb-20"><span class="custom-font numb">03</span> Sustentabilidad</h6>
                            <p>Nuestro compromiso es minimizar el impacto ambiental, diseñando proyectos rentables en todas sus fases y optimizando la vida útil de cada construcción.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="exp-img wow fadeInUp" data-wow-delay=".3s">
                    <div class="img bg-img wow imago" data-background="assets/img/exp.jpg">
                        <div class="since custom-font">
                            <span>Since</span>
                            <span>1999</span>
                        </div>
                        <div class="years custom-font">
                            <h2>20+</h2>
                            <h5>Años de Experiencia</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 valign">
                <div class="exp-content wow fadeInUp" data-wow-delay=".3s">
                    <h6 class="sub-title">Nosotros</h6>
                    <h2 class="mb-20 playfont">Diseñamos, Gestionamos y Construimos para Ti</h2>
                    <p>En ESPATIUM Arquitectos, nos encargamos de todo: desde encontrar tu propiedad ideal hasta
                        coordinar tu mudanza. Ofrecemos soluciones personalizadas y construcción llave en mano,
                        garantizando transparencia y presupuesto cerrado.</p>
                    <div class="numbers mt-50">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="item">
                                    <h3><span class="nbr custom-font">352</span></h3>
                                    <h6>Proyectos Completados</h6>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item">
                                    <h3><span class="nbr custom-font">20,000+</span></h3>
                                    <h6>M² Diseñados y Construidos</h6>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item">
                                    <h3><span class="nbr custom-font">20+</span></h3>
                                    <h6>Años de Experiencia</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="about.html" class="btn-curve btn-bord btn-lit mt-30">
                        <span>Conoce Nuestra Historia</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 valign">
                <div class="exp-content nopat wow fadeInUp" data-wow-delay=".3s">
                    <h6 class="sub-title">Nosotros</h6>
                    <h2 class="mb-20 playfont">Diseñamos, Gestionamos y Construimos para Ti</h2>
                    <p>En ESPATIUM Arquitectos, nos encargamos de todo: desde encontrar tu propiedad ideal hasta coordinar tu mudanza. Ofrecemos soluciones personalizadas y construcción llave en mano, garantizando transparencia y presupuesto cerrado.</p>
                    <ul>
                        <li>Diseño Arquitectónico</li>
                        <li>Construcción Llave en Mano</li>
                        <li>Sustentabilidad</li>
                    </ul>
                    <a href="about.html" class="btn-curve btn-color mt-30">
                        <span>Conoce Nuestra Historia</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ab-exp">
                    <div class="row">
                        <div class="col-md-4 mb-20">
                            <div class="pattern bg-img bg-repeat" data-background="assets/img/line-pattern.png">
                            </div>
                        </div>
                        <div class="col-md-8 wow fadeInUp" data-wow-delay=".3s">
                            <div class="img mb-20 wow imago">
                                <img src="assets/img/ab1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 wow fadeInUp" data-wow-delay=".3s">
                            <div class="img wow imago">
                                <img src="assets/img/ab2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="years-exp">
                                <div class="exp-text">
                                    <h2 class="custom-font">20</h2>
                                    <h6>Años de Experiencia</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- ==================== End Services ==================== -->



<!-- ==================== Start Works ==================== -->
<!-- 
<section class="work-carousel metro section-padding dark">
    <div class="container-fluid">
        <div class="container">
            <div class="section-head text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <h6 class="custom-font wow fadeInDown" data-wow-delay=".3s">PROYECTOS HECHOS REALIDAD</h6>
                        <h4 class="playfont wow flipInX" data-wow-delay=".5s">Nuestro portafolio</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 no-padding">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="content wow fadeInUp" data-wow-delay=".3s">
                                <div class="item-img bg-img wow imago" data-background="assets/img/portfolio/01.jpg">
                                </div>
                                <div class="cont">
                                    <h6><a>art & illustration</a></h6>
                                    <h4><a>Innovation and Crafts.</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content wow fadeInUp" data-wow-delay=".3s">
                                <div class="item-img bg-img wow imago" data-background="assets/img/portfolio/01.jpg">
                                </div>
                                <div class="cont">
                                    <h6><a>art & illustration</a></h6>
                                    <h4><a>Inspiring new space.</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content wow fadeInUp" data-wow-delay=".3s">
                                <div class="item-img bg-img wow imago" data-background="assets/img/portfolio/01.jpg">
                                </div>
                                <div class="cont">
                                    <h6><a>art & illustration</a></h6>
                                    <h4><a>Natural plus modern.</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content wow fadeInUp" data-wow-delay=".3s">
                                <div class="item-img bg-img wow imago" data-background="assets/img/portfolio/01.jpg">
                                </div>
                                <div class="cont">
                                    <h6><a>art & illustration</a></h6>
                                    <h4><a>Innovation and Crafts.</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="content wow fadeInUp" data-wow-delay=".3s">
                                <div class="item-img bg-img wow imago" data-background="assets/img/portfolio/01.jpg">
                                </div>
                                <div class="cont">
                                    <h6><a>art & illustration</a></h6>
                                    <h4><a>Inspiring new space.</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>

                   
                    <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                        <i class="ion-ios-arrow-right"></i>
                    </div>
                    <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                        <i class="ion-ios-arrow-left"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<div class="container" style="margin-top: 40px;">
    <div class="section-head text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <h6 class="custom-font wow fadeInDown" data-wow-delay=".3s">PROYECTOS HECHOS REALIDAD</h6>
                <h4 class="playfont wow flipInX" data-wow-delay=".5s">Nuestro portafolio</h4>
            </div>
        </div>
    </div>
</div>
<section class="portfolio full-bg">
    <div class="container-fluid">
        
        <div class="row">
            
            <div class="col-lg-3 col-md-6 cluom current" data-tab="tab-1">
                <div class="info">
                    <h6 class="custom-font">Proyectos hechos realidad</h6>
                    <h5>Nuestro Portafolio</h5>
                </div>
                <div class="more">
                    <a >View Project <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 cluom" data-tab="tab-2">
                <div class="info">
                    <h6 class="custom-font">Interior</h6>
                    <h5>Maroon Beach Hotel</h5>
                </div>
                <div class="more">
                    <a >View Project <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 cluom" data-tab="tab-3">
                <div class="info">
                    <h6 class="custom-font">Interior</h6>
                    <h5>Apartment Renovation</h5>
                </div>
                <div class="more">
                    <a >View Project <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 cluom" data-tab="tab-4">
                <div class="info">
                    <h6 class="custom-font">Interior</h6>
                    <h5>Modern Minimalist House</h5>
                </div>
                <div class="more">
                    <a >View Project <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="glry-img">
        <div id="tab-1" class="bg-img tab-img current" data-background="assets/img/portfolio/full/01.jpg"
            data-overlay-dark="2"></div>
        <div id="tab-2" class="bg-img tab-img" data-background="assets/img/portfolio/full/01.jpg" data-overlay-dark="2">
        </div>
        <div id="tab-3" class="bg-img tab-img" data-background="assets/img/portfolio/full/01.jpg" data-overlay-dark="2">
        </div>
        <div id="tab-4" class="bg-img tab-img" data-background="assets/img/portfolio/full/02.jpg" data-overlay-dark="2">
        </div>
    </div>
</section>

<!-- ==================== End Works ==================== -->

<section class="process section-padding bg-img bg-repeat" data-background="img/dots.png">
    <div class="container">
        <div class="section-head text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <h6 class="custom-font wow fadeInDown" data-wow-delay=".3s">Cómo lo Hacemos</h6>
                    <h4 class="playfont wow flipInX" data-wow-delay=".5s">Nuestro Proceso</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 coulmn wow fadeInUp" data-wow-delay=".3s">
                <div class="item">
                    <div class="bg-img" data-background="assets/img/01.jpg">
                        <h3 class="numb custom-font">01</h3>
                    </div>
                    <div class="cont">
                        <h6 class="mb-10">Preparación del Diseño</h6>
                        <p>Estudio de necesidades, análisis de opciones y evaluación del sitio. Recopilamos toda la información esencial para asegurar una base sólida para el diseño.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 coulmn wow fadeInUp" data-wow-delay=".5s">
                <div class="item">
                    <div class="bg-img" data-background="assets/img/02.jpg">
                        <h3 class="numb custom-font">02</h3>
                    </div>
                    <div class="cont">
                        <h6 class="mb-10">Proceso de Diseño</h6>
                        <p>Desarrollo del diseño conceptual y ajustes para satisfacer los objetivos estéticos y funcionales. Incluye modelos 3D y recorridos en realidad virtual para una visión inmersiva.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 coulmn wow fadeInUp" data-wow-delay=".7s">
                <div class="item">
                    <div class="bg-img" data-background="assets/img/03.jpg">
                        <h3 class="numb custom-font">03</h3>
                    </div>
                    <div class="cont">
                        <h6 class="mb-10">Supervisión y Ejecución</h6>
                        <p>Control total de la obra con informes regulares de progreso, fotos y videos. Garantizamos un precio fijo y cumplimos con los tiempos pactados.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".9s">
                <div class="item">
                    <div class="bg-img" data-background="assets/img/04.jpg">
                        <h3 class="numb custom-font">04</h3>
                    </div>
                    <div class="cont">
                        <h6 class="mb-10">Entrega y Coordinación de Mudanza</h6>
                        <p>Revisión final y entrega de llaves. Coordinamos tu mudanza y, si lo deseas, vestimos tu espacio para que esté listo para disfrutar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ==================== Start about ==================== -->

<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="extra wow fadeInUp" data-wow-delay=".3s">
                    <h2 class="mb-20 playfont fz-50">What we <br> actually do.</h2>
                    <p>Architecture bibendum pharetra eleifend. Suspendisse vel volutpat purus, sit amet bibendum
                        nisl. mollis turpis a ipsum ultes, nec condi mentum ipsum consequat. Mauris vitae
                        consequat nibh, vitae interdum mi.</p>
                </div>
            </div>
            <div class="col-lg-4 valign">
                <div class="specialty wow fadeInUp" data-wow-delay=".5s">
                    <ul>
                        <li><span>01.</span>Design Project</li>
                        <li><span>02.</span>Interior Visualization</li>
                        <li><span>03.</span>Landscape Design</li>
                        <li><span>04.</span>Architect Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-img pat valign text-center" data-background="assets/img/pat1.png">
        <a class="play-button color vid wow fadeInUp" data-wow-delay=".7s" href="https://youtu.be/AzwC6umvd1s">
            <svg class="circle-fill">
                <circle cx="43" cy="43" r="39" stroke="#b19777" stroke-width=".5"></circle>
            </svg>
            <svg class="circle-track">
                <circle cx="43" cy="43" r="39" stroke="none" stroke-width="1" fill="none"></circle>
            </svg>

            <span class="polygon">
                <i class="pe-7s-play"></i>
            </span>
        </a>
    </div>
</section>

<!-- ==================== End about ==================== -->



<!-- ==================== Start before & after ==================== -->

<section class="after-before section-padding">
    <div class="background bg-img parallaxie" data-background="assets/img/04.jpg" data-overlay-dark="7"
        style="background-image: url(&quot;assets/img/04.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center -243.863px;">
    </div>
    <div class="container ontop">
        <div class="section-head text-center wow fadeInUp" data-wow-delay=".3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <h6 class="custom-font">Best Works</h6>
                    <h4 class="playfont">Drag the Slider to See
                        the Transformation One of the Interior</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="dotsbg wow fadeInUp" data-wow-delay=".3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="twentytwenty-wrapper twentytwenty-horizontal">
                        <div class="twentytwenty-container wow imago animated"
                            style="visibility: visible; height: 624.922px;">
                            <img src="assets/img/before.jpg" alt="" class="twentytwenty-before"
                                style="clip: rect(0px, 555px, 624.922px, 0px);">
                            <img src="assets/img/after.jpg" alt="" class="twentytwenty-after"
                                style="clip: rect(0px, 1110px, 624.922px, 555px);">
                            <div class="twentytwenty-overlay">
                                <div class="twentytwenty-before-label" data-content="Before"></div>
                                <div class="twentytwenty-after-label" data-content="After"></div>
                            </div>
                            <div class="twentytwenty-handle" style="left: 555px;"><span
                                    class="twentytwenty-left-arrow"></span><span
                                    class="twentytwenty-right-arrow"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== End before & after ==================== -->



<!-- ==================== Start Numbers ==================== -->

<div class="numbers section-padding pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <h3><span class="nbr custom-font">352</span></h3>
                    <h6>Projects Completed</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <h3><span class="nbr custom-font">567</span></h3>
                    <h6>Satisfied Clients</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <h3><span class="nbr custom-font">656</span><i>M</i></h3>
                    <h6>Monthly Revenue</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <h3><span class="nbr custom-font">17</span></h3>
                    <h6>Awards Won</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ==================== End Numbers ==================== -->



<!-- ==================== Start Team ==================== -->

<section class="team section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="tit">
                    <h6 class="custom-font mb-10 wow fadeInDown" data-wow-delay=".3s">Some thoughts from Us</h6>
                    <h3 class="wow flipInX" data-wow-delay=".3s">Our Employees</h3>
                    <p class="wow fadeInUp" data-wow-delay=".3s">We feel proud for our expert team members beatae
                        ipsum dolor sit amet, consectetur
                        adipisicing elit mauris vitae consequat nibh, vitae interdum mi.</p>
                    <div class="navs mt-30 wow fadeInUp" data-wow-delay=".3s">
                        <span class="prev">
                            <i class="fas fa-long-arrow-alt-left"></i>
                        </span>
                        <span class="next">
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="team-container">
                    <div class="item wow fadeInUp" data-wow-delay=".3s">
                        <div class="img wow imago">
                            <img src="assets/img/team/1.jpg" alt="">
                            <div class="social">
                                <a><i class="fab fa-facebook-f"></i></a>
                                <a><i class="fab fa-twitter"></i></a>
                                <a><i class="fab fa-behance"></i></a>
                                <a><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="info">
                            <h5>Hasib sharif</h5>
                            <span>General Manager</span>
                        </div>
                    </div>
                    <div class="item wow fadeInUp" data-wow-delay=".3s">
                        <div class="img wow imago">
                            <img src="assets/img/team/2.jpg" alt="">
                            <div class="social">
                                <a><i class="fab fa-facebook-f"></i></a>
                                <a><i class="fab fa-twitter"></i></a>
                                <a><i class="fab fa-behance"></i></a>
                                <a><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="info">
                            <h5>Jonson Leo</h5>
                            <span>Founder</span>
                        </div>
                    </div>
                    <div class="item wow fadeInUp" data-wow-delay=".3s">
                        <div class="img wow imago">
                            <img src="assets/img/team/3.jpg" alt="">
                            <div class="social">
                                <a><i class="fab fa-facebook-f"></i></a>
                                <a><i class="fab fa-twitter"></i></a>
                                <a><i class="fab fa-behance"></i></a>
                                <a><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="info">
                            <h5>Leio Man</h5>
                            <span>Founder</span>
                        </div>
                    </div>
                    <div class="item wow fadeInUp" data-wow-delay=".3s">
                        <div class="img wow imago">
                            <img src="assets/img/team/4.jpg" alt="">
                            <div class="social">
                                <a><i class="fab fa-facebook-f"></i></a>
                                <a><i class="fab fa-twitter"></i></a>
                                <a><i class="fab fa-behance"></i></a>
                                <a><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="info">
                            <h5>Robert Front</h5>
                            <span>CEO Founder</span>
                        </div>
                    </div>
                    <div class="item wow fadeInUp" data-wow-delay=".3s">
                        <div class="img wow imago">
                            <img src="assets/img/team/5.jpg" alt="">
                            <div class="social">
                                <a><i class="fab fa-facebook-f"></i></a>
                                <a><i class="fab fa-twitter"></i></a>
                                <a><i class="fab fa-behance"></i></a>
                                <a><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="info">
                            <h5>Legender Mao</h5>
                            <span>3D Visualization</span>
                        </div>
                    </div>
                    <div class="item wow fadeInUp" data-wow-delay=".3s">
                        <div class="img wow imago">
                            <img src="assets/img/team/6.jpg" alt="">
                            <div class="social">
                                <a><i class="fab fa-facebook-f"></i></a>
                                <a><i class="fab fa-twitter"></i></a>
                                <a><i class="fab fa-behance"></i></a>
                                <a><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="info">
                            <h5>Matt Huk</h5>
                            <span>3D Visualization</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dots-half bg-img bg-repeat" data-background="assets/img/dots.png"></div>
</section>

<!-- ==================== End Team ==================== -->



<!-- ==================== Start Testimonials ==================== -->

<section class="testimonials grid section-padding">
    <div class="container">
        <div class="section-head text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <h6 class="custom-font wow fadeInDown" data-wow-delay=".3s">Testimonials</h6>
                    <h4 class="playfont wow flipInX" data-wow-delay=".5s">What People Says?</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testim">
                    <div class="item wow fadeInUp" data-wow-delay=".3s">
                        <span class="quote-icon"><img src="assets/img/clients/quote.svg" alt=""></span>
                        <div class="cont">
                            <p class="playfont">"I just love their design for all stunning details. You must know
                                what can you do for a project before taking it, but with Archo, the sky is the
                                limit."
                            </p>
                        </div>
                        <div class="info">
                            <div class="author">
                                <img src="assets/img/clients/1.jpg" alt="">
                            </div>
                            <h6>Mitchl Jhon <span>Envato Customer</span> </h6>
                        </div>
                    </div>
                    <div class="item wow fadeInUp" data-wow-delay=".3s">
                        <span class="quote-icon"><img src="assets/img/clients/quote.svg" alt=""></span>
                        <div class="cont">
                            <p class="playfont">"I just love their design for all stunning details. You must know
                                what can you do for a project before taking it, but with Archo, the sky is the
                                limit."
                            </p>
                        </div>
                        <div class="info">
                            <div class="author">
                                <img src="assets/img/clients/2.jpg" alt="">
                            </div>
                            <h6>Jane Smith <span>Envato Customer</span> </h6>
                        </div>
                    </div>
                    <div class="item wow fadeInUp" data-wow-delay=".3s">
                        <span class="quote-icon"><img src="assets/img/clients/quote.svg" alt=""></span>
                        <div class="cont">
                            <p class="playfont">"I just love their design for all stunning details. You must know
                                what can you do for a project before taking it, but with Archo, the sky is the
                                limit."
                            </p>
                        </div>
                        <div class="info">
                            <div class="author">
                                <img src="assets/img/clients/3.jpg" alt="">
                            </div>
                            <h6>Alison Clutcher <span>Envato Customer</span> </h6>
                        </div>
                    </div>
                    <div class="item wow fadeInUp" data-wow-delay=".3s">
                        <span class="quote-icon"><img src="assets/img/clients/quote.svg" alt=""></span>
                        <div class="cont">
                            <p class="playfont">"I just love their design for all stunning details. You must know
                                what can you do for a project before taking it, but with Archo, the sky is the
                                limit."
                            </p>
                        </div>
                        <div class="info">
                            <div class="author">
                                <img src="assets/img/clients/4.jpg" alt="">
                            </div>
                            <h6>Peter Jefferson <span>Envato Customer</span> </h6>
                        </div>
                    </div>
                </div>
                <div class="navs mt-30 wow fadeInUp" data-wow-delay=".3s">
                    <span class="prev">
                        <i class="fas fa-long-arrow-alt-left"></i>
                    </span>
                    <span class="next">
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>