<header class="slider">
    <div class="swiper-container parallax-slider">
        <div class="swiper-wrapper">
            <!-- <div class="swiper-slide">
                <div class="bg-img valign" data-background="assets/img/TEAM/VIDEO.mp4" data-overlay-dark="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="caption hmone">
                                    <h5 class="thin custom-font">Diseño Sustentable</h5>
                                    <h1 data-splitting><a>Soluciones Ecoeficientes</a></h1>
                                    <p class="mt-10">Creamos espacios que respetan el medio ambiente y optimizan los
                                        recursos naturales, con un diseño que armoniza con el entorno.</p>
                                    <a class="btn-curve btn-bord btn-lit mt-30">
                                        <span>Ver Más</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="swiper-slide">
                <div class="bg-img valign" data-overlay-dark="6">
                    <!-- Video como fondo -->
                    <video class="bg-video" autoplay muted loop playsinline>
                        <source src="assets/videos/llaves.mp4" type="video/mp4">
                    </video>

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="caption hmone">
                                    <h5 class="thin custom-font">Llave en Mano</h5>
                                    <h1 data-splitting><a>Calidad Garantizada</a></h1>
                                    <p class="mt-10">Nos ocupamos de cada detalle, desde la planificación hasta la
                                        entrega, asegurando máxima calidad y satisfacción en cada proyecto.</p>
                                    <a class="btn-curve btn-bord btn-lit mt-30">
                                        <span>Ver Más</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="assets/img/slid/2.jpg" data-overlay-dark="5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="caption hmone">
                                    <h5 class="thin custom-font">Diseño Sustentable</h5>
                                    <h1 data-splitting><a>Soluciones Ecoeficientes</a></h1>
                                    <p class="mt-10">Creamos espacios que respetan el medio ambiente y optimizan los
                                        recursos naturales, con un diseño que armoniza con el entorno.</p>
                                    <a class="btn-curve btn-bord btn-lit mt-30">
                                        <span>Conoce Más</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="assets/img/slid/2.jpg" data-overlay-dark="5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="caption hmone">
                                    <h5 class="thin custom-font">Innovación & Confort</h5>
                                    <h1 data-splitting><a>Diseños Inteligentes</a></h1>
                                    <p class="mt-10">Integramos diseño moderno con tecnologías sustentables, ofreciendo
                                        hogares funcionales y estéticamente inspiradores.</p>
                                    <a class="btn-curve btn-bord btn-lit mt-30">
                                        <span>Descubre Más</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="setone">
            <div class="swiper-button-next swiper-nav-ctrl next-ctrl">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
        <div class="swiper-pagination top custom-font"></div>
    </div>
</header>



<section class="services">
    <div class="feat-top">
        <div class="notfull bg-gray wow"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="item-sm wow fadeInUp" data-wow-delay="1s">
                        <div class="box">
                            <h6 class="mb-20"><span class="custom-font numb">01</span> Diseño Arquitectónico</h6>
                            <p>Ofrecemos soluciones personalizadas que inspiran y transforman, diseñando espacios que
                                reflejan la personalidad y objetivos de nuestros clientes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item-sm wow fadeInUp" data-wow-delay="1.1s">
                        <div class="box">
                            <h6 class="mb-20"><span class="custom-font numb">02</span> Construcción Llave en Mano</h6>
                            <p>Trabajamos con precios y tiempos cerrados, asegurando transparencia total en cada etapa
                                del proyecto y sin sorpresas en el presupuesto final.</p>
                            <a class="more custom-font mt-30">Leer Más</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item-sm wow fadeInUp" data-wow-delay="1.2s">
                        <div class="box">
                            <h6 class="mb-20"><span class="custom-font numb">03</span> Sustentabilidad</h6>
                            <p>Nuestro compromiso es minimizar el impacto ambiental, diseñando proyectos rentables en
                                todas sus fases y optimizando la vida útil de cada construcción.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 valign">
                <div class="exp-content nopat wow fadeInUp" data-wow-delay=".3s">
                    <h2 class="custom-font wow fadeInDown" data-wow-delay=".3s" style="color: #dec48b; ">Espatium
                        Arquitectos</h2>
                    <h2 class="mb-20 playfont">Diseñamos, Gestionamos y Construimos para Ti</h2>
                    <p>Somos Vicente Ochoa y Rodrigo de Loera Arquitectos ambos contamos con más de 20 años de
                        experiencia en la creación de arquitectura sutentable y moderna en varias escalas; Con los
                        conocimientos técnicos para comprender la estructura y demás elementos de las edificaciones, sus
                        procesos de diseño y construcción.<br>

                        Nuestro enfoque está en observar de manera efectiva el panorama general de cualquier proyecto de
                        Diseño y Construcción, desde una mentalidad estratégica para la solución de problemas, sin dejar
                        de lado los detalles más pequeños.

                        Pero lo más importante, es que como Arquitectos & constructores consideramos y evalúamos
                        aspectos y problemas que a menudo se pasan por alto por un arquitecto que solo diseña!

                        Tenemos la habilidad de crear y diseñar tomando en cuenta los desafíos estructurales y de
                        ingeniería; Por lo tanto, el proyecto puede avanzar sin problemas y sin retrasos.</p>
                    <!-- <p>En ESPATIUM Arquitectos, nos encargamos de todo: desde encontrar tu propiedad ideal hasta
                        coordinar tu mudanza. Ofrecemos soluciones personalizadas y construcción llave en mano,
                        garantizando transparencia y presupuesto cerrado.</p> -->
                    <ul>
                        <li>Diseño Arquitectónico</li>
                        <li>Construcción Llave en Mano</li>
                        <li>Sustentabilidad</li>
                    </ul>
                    <a (click)="globalService.setRoute('about')" class="btn-curve btn-color mt-30">
                        <span>Conoce Nuestra Historia</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ab-exp">
                    <div class="row">
                        <div class="col-md-4 mb-20">
                            <div class="pattern bg-img bg-repeat" data-background="assets/img/line-pattern.png">
                            </div>
                        </div>
                        <div class="col-md-8 wow fadeInUp" data-wow-delay=".3s">
                            <div class="img mb-20 wow imago">
                                <img src="assets/img/ab1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 wow fadeInUp" data-wow-delay=".3s">
                            <div class="img wow imago">
                                <img src="assets/img/ab2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="years-exp">
                                <div class="exp-text">
                                    <h2 class="custom-font">20</h2>
                                    <h6>Años de Experiencia</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services section-padding bg-gray">
    <div class="container">
        <div class="section-head text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <h2 class="custom-font wow fadeInDown" data-wow-delay=".3s" style="color: #dec48b; ">Nuestros
                        Servicios</h2>
                </div>
                <h4 class="playfont wow flipInX" data-wow-delay=".5s">OFRECEMOS SOLUCIONES CON CERTEZA, CLARIDAD EN
                    PRECIOS Y TIEMPOS DE CONSTRUCCIÓN!</h4>
                <p>Creamos arquitectura de acuerdo a la Personalidad y objetivos de nuestros clientes y ofrecemos
                    soluciones funcionales que inspiran y transforman.

                    Nuestra misión es ayudar a las personas creando experiencias de vida extraordinarias con una
                    arquitectura sencilla, moderna y asequible.</p>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4">
                <div class="item-bx bg-img wow fadeInUp" data-wow-delay=".3s" data-background="assets/img/01.jpg">
                    <span class="icon flaticon-houses"></span>
                    <h6 class="mb-20">Diseño</h6>
                    <p>Ofrecemos precios fijos para diseño, brindando claridad en costos desde el inicio. Esto garantiza
                        que
                        cualquier propuesta de materiales premium beneficie el proyecto y no aumente nuestros
                        honorarios.
                        Las excepciones son consultores externos, como topógrafos, mecánica de suelos y certificadores
                        EDGE/LEED, que se cotizan por separado.</p>
                    <a href="https://wa.me/525578320671?text=Hola,%20me%20gustaría%20solicitar%20una%20cotización%20de%20diseño"
                        target="_blank" class="more custom-font mt-30">Solicitar Cotización</a>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="item-bx bg-img wow fadeInUp" data-wow-delay=".5s" data-background="img/02.jpg">
                    <span class="icon flaticon-living-room"></span>
                    <h6 class="mb-20">Construcción con Costos y Tiempos Cerrados
                    </h6>
                    <p>Espatium Arquitectos asume la responsabilidad total de la construcción, garantizando precios
                        fijos y
                        tiempos definidos. El costo pactado es inamovible, salvo que solicites trabajos adicionales. Por
                        ejemplo, si acuerdas $5,000,000.00 y el costo real es $5,450,000.00, Espatium absorbe la
                        diferencia.
                        Trabajamos con los mejores constructores y proveedores, asegurando calidad, cumplimiento en
                        tiempos
                        y la inversión exacta sin sorpresas.</p>
                    <a href="https://wa.me/525578320671?text=Hola,%20me%20gustaría%20solicitar%20una%20cotización%20de%20construcción%20con%20costos%20y%20tiempos%20cerrados"
                        target="_blank" class="more custom-font mt-30">Solicitar Cotización</a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="item-bx bg-img wow fadeInUp" data-wow-delay=".7s" data-background="img/03.jpg">
                    <span class="icon flaticon-interior-design"></span>
                    <h6 class="mb-20">Sustentabilidad</h6>
                    <p>En Espatium Arquitectos, buscamos minimizar el impacto ambiental en dos etapas clave: la
                        construcción
                        y la operación del proyecto. Aunque ambas requieren análisis específicos, la operación tiene un
                        impacto más prolongado, afectando tanto al medio ambiente como al bolsillo del propietario.
                        Desde el
                        diseño, implementamos sistemas constructivos sostenibles para garantizar rentabilidad en todas
                        las
                        fases del proyecto. Te ayudamos a ahorrar no solo en el diseño y construcción, sino también a lo
                        largo de toda la vida útil de tu proyecto.</p>
                    <a href="https://wa.me/525578320671?text=Hola,%20me%20gustaría%20solicitar%20una%20cotización%20de%20sustentabilidad"
                        target="_blank" class="more custom-font mt-30">Solicitar Cotización</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="col-lg-6extra wow fadeInUp" data-wow-delay=".3s">
                    <img src="assets/img/guia-.png" alt="">
                </div>

            </div>
            <div class="col-lg-6">


                <h2 class="mb-20 playfont fz-50">OBTEN RECURSOS & HERRAMIENTAS GRATIS <br> INICIA CON EXITO</h2>
                <p>OBTENGA LA GUÍA RAPIDA DE PLANIFICACIÓN DE PROYECTOS
                    ANTES DE COMENZAR TU PROYECTO DE CONSTRUCCIÓN </p>
                <a href="https://vincent8a1-10.fastfunnels.com/" class="btn-curve btn-color mt-30"> <span>Obtener
                        Guía</span></a>

            </div>
            <div class="col-lg-12 valign" style="text-align: right;">
                <div class="specialty wow fadeInUp" data-wow-delay=".5s">
                    <h2 class="custom-font numb">NECESITAS AYUDA?</h2>
                    <h6 class="mb-20">OBTEN MÁS RECURSOS, PARA INICIAR CON EXITO
                    </h6>
                    <img src="assets/img/recursos.png" alt="">
                    <p>En ESPATIUM Arquitectos Entendemos el Proceso de Diseño & Construcción, es lo que hacemos todos
                        los días.

                        Diseñar y construir un proyecto residencial desde cero, es un proceso complejo y muchas veces
                        abrumador.

                        Pero también es un viaje emocionante y una oportunidad única en la vida que pocas veces se
                        repite.

                        Nuestro equipo ha diseñado recursos que sirven como

                        punto de partida para sus ideas, ayudándolo a dirigirlo al siguiente paso en su aventura
                        creativa
                    </p>
                    <a (click)="globalService.setRoute('resources')" class="btn-curve btn-color mt-30"><span>Obtenlos
                            AQUI</span></a>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="container" style="margin-top: 40px;">
    <div class="section-head text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <h2 class="custom-font wow fadeInDown" data-wow-delay=".3s" style="color: #dec48b;">PROYECTOS HECHOS
                    REALIDAD</h2>
                <h4 class="playfont wow flipInX" data-wow-delay=".5s">Nuestro portafolio</h4>
                <p>Cada diseño que realizamos es para ti y solo para ti!

                    Comprendemos a los clientes y conectamos con ellos, ser parte de su sueño es nuestro Sueño.</p>
            </div>
        </div>
    </div>
</div>
<section class="portfolio full-bg">
    <div class="container-fluid">

        <div class="row" *ngFor="let project of (realtimeProjects.projects$ | async)">

            <div class="col-lg-3 col-md-6 cluom current" data-tab="tab-1">
                <div class="info">
                    <h6 class="custom-font">{{project.title}}</h6>

                </div>
                <div class="more">
                    <a (click)="globalService.viewProject(project)">Ver proyecto <i
                            class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <!--  <div class="col-lg-3 col-md-6 cluom" data-tab="tab-2">
                <div class="info">
                    <h6 class="custom-font">Interior</h6>
                    <h5>Maroon Beach Hotel</h5>
                </div>
                <div class="more">
                    <a>View Project <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 cluom" data-tab="tab-3">
                <div class="info">
                    <h6 class="custom-font">Interior</h6>
                    <h5>Apartment Renovation</h5>
                </div>
                <div class="more">
                    <a>View Project <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 cluom" data-tab="tab-4">
                <div class="info">
                    <h6 class="custom-font">Interior</h6>
                    <h5>Modern Minimalist House</h5>
                </div>
                <div class="more">
                    <a>View Project <i class="fas fa-chevron-right"></i></a>
                </div>
            </div> -->
        </div>
    </div>
    <div class="glry-img">
        <div id="tab-1" class="bg-img tab-img current" data-background="assets/img/portfolio/full/01.jpg"
            data-overlay-dark="2"></div>
        <div id="tab-2" class="bg-img tab-img" data-background="assets/img/portfolio/full/01.jpg" data-overlay-dark="2">
        </div>
        <div id="tab-3" class="bg-img tab-img" data-background="assets/img/portfolio/full/01.jpg" data-overlay-dark="2">
        </div>
        <div id="tab-4" class="bg-img tab-img" data-background="assets/img/portfolio/full/02.jpg" data-overlay-dark="2">
        </div>
    </div>
</section>

<!-- ==================== End Works ==================== -->

<section class="process section-padding bg-img bg-repeat" data-background="assets/img/dots.png">
    <div class="container">
        <div class="section-head text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <h2 class="custom-font wow fadeInDown" data-wow-delay=".3s" style="color: #dec48b;">Cómo lo Hacemos
                    </h2>
                    <h4 class="playfont wow flipInX" data-wow-delay=".5s">Nuestro Proceso</h4>
                    <p>“SEGUIR EL PROCESO DE DISEÑO & CONSTRUCCIÓN DE ESPATIUM ARQUITECTOS GARANTIZA EL ÉXITO DE SU
                        PROYECTO”</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 coulmn wow fadeInUp" data-wow-delay=".3s">
                <div class="item">
                    <div class="bg-img" data-background="assets/img/01.jpg">
                        <h3 class="numb custom-font">01</h3>
                    </div>
                    <div class="cont">
                        <h6 class="mb-10">Preparación del Diseño</h6>
                        <p>Estudio de necesidades, análisis de opciones y evaluación del sitio. Recopilamos toda la
                            información esencial para asegurar una base sólida para el diseño.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 coulmn wow fadeInUp" data-wow-delay=".5s">
                <div class="item">
                    <div class="bg-img" data-background="assets/img/02.jpg">
                        <h3 class="numb custom-font">02</h3>
                    </div>
                    <div class="cont">
                        <h6 class="mb-10">Proceso de Diseño</h6>
                        <p>Desarrollo del diseño conceptual y ajustes para satisfacer los objetivos estéticos y
                            funcionales. Incluye modelos 3D y recorridos en realidad virtual para una visión inmersiva.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 coulmn wow fadeInUp" data-wow-delay=".7s">
                <div class="item">
                    <div class="bg-img" data-background="assets/img/03.jpg">
                        <h3 class="numb custom-font">03</h3>
                    </div>
                    <div class="cont">
                        <h6 class="mb-10">Supervisión y Ejecución</h6>
                        <p>Control total de la obra con informes regulares de progreso, fotos y videos. Garantizamos un
                            precio fijo y cumplimos con los tiempos pactados.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".9s">
                <div class="item">
                    <div class="bg-img" data-background="assets/img/04.jpg">
                        <h3 class="numb custom-font">04</h3>
                    </div>
                    <div class="cont">
                        <h6 class="mb-10">Entrega del Proyecto y Servicios Adicionales
                        </h6>
                        <p>Al concluir la obra, verificamos que todo esté terminado al 100% antes de la aprobación final
                            del cliente. Coordinamos tu mudanza y colocamos tu mobiliario para entregarte un espacio
                            listo para disfrutar. También ofrecemos, previa cotización, decorar completamente tu hogar.
                            Finalizamos con la entrega de llaves y fotografías profesionales del proyecto, que
                            compilamos en un elegante libro de mesa como regalo exclusivo.</p>
                        <a href="https://vincent8a1.fastfunnels.com/">Mas detalles <i
                                class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="after-before section-padding">
    <div class="background bg-img parallaxie" data-background="assets/img/04.jpg" data-overlay-dark="7"
        style="background-image: url(&quot;assets/img/04.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center -243.863px;">
    </div>
    <div class="container ontop">
        <div class="section-head text-center wow fadeInUp" data-wow-delay=".3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <h2 class="custom-font" style="color: #dec48b;">Servicio Integral con Espatium Arquitectos</h2>
                    <h4 class="playfont">¿Por qué nuestros clientes nos contratan, Para diseñar su casa de ensueño?</h4>
                    <p>Al contratar a Espatium Arquitectos, disfrutas de la tranquilidad de tener un único proveedor
                        que gestiona todas las etapas de tu proyecto. Construimos relaciones de confianza al superar tus
                        expectativas con proyectos modernos, exclusivos y sostenibles. Ofrecemos un servicio "llave en
                        mano" que abarca desde la concepción y gestión de trámites hasta la construcción y mudanza,
                        garantizando ahorro y eficiencia durante toda la vida útil de tu hogar. Este enfoque integral
                        refleja la importancia de pensar en cada detalle, como un diseño pensado para trascender y
                        optimizar cada recurso, asegurando un futuro sustentable y funcional.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="dotsbg wow fadeInUp" data-wow-delay=".3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="twentytwenty-wrapper twentytwenty-horizontal">
                        <div class="twentytwenty-container wow imago animated"
                            style="visibility: visible; height: 624.922px;">
                            <img src="assets/img/before.jpg" alt="" class="twentytwenty-before"
                                style="clip: rect(0px, 555px, 624.922px, 0px);">
                            <img src="assets/img/after.jpg" alt="" class="twentytwenty-after"
                                style="clip: rect(0px, 1110px, 624.922px, 555px);">
                            <div class="twentytwenty-overlay">
                                <div class="twentytwenty-before-label" data-content="Before"></div>
                                <div class="twentytwenty-after-label" data-content="After"></div>
                            </div>
                            <div class="twentytwenty-handle" style="left: 555px;"><span
                                    class="twentytwenty-left-arrow"></span><span
                                    class="twentytwenty-right-arrow"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== End before & after ==================== -->



<!-- ==================== Start Numbers ==================== -->

<div class="numbers section-padding pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <i class="fas fa-search"></i>
                    <h6>Find Property ( Encontrando su Propiedad ideal)
                    </h6>
                    <p>Nosotros nos encargamos de todo Inclusive te ayudemos con nuestro servicio “Find Property (
                        Encontrando su Propiedad ideal) de búsqueda de propiedad ya sea un terreno para construir tu
                        casa o una prpopiedad, para que la remodeles, siempre valorando la ubicación orientacion y que
                        todo este bien legalmente</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <i class="fas fa-money-bill"></i>
                    <h6>AHORROS</h6>
                    <p>Nuestro objetivo es que tu proyecto sea rentable en todas sus fases, desde el diseño hasta su
                        culminación. Te ayudamos a ahorrar dinero no solo cuando se diseña y construye; Si no también
                        durante toda la vida de tu proyecto.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <i class="fas fa-money-bill"></i>
                    <h6>PRECIOS REALISTAS
                    </h6>
                    <p>Construcciones a Precios realistas de mercado y muy competitivos

                        En Espatium arquitectos, pensamos que lo económico no es lo barato.

                        Una obra es económica, cuando se obtiene el mejor producto posible, al precio adecuado; sin
                        sacrificar calidad. Esa es nuestra filosofía.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <i class="fas fa-money-bill"></i>
                    <h6>GESTIÓN DE PERMISOS
                    </h6>
                    <p>El compromiso que Espatium tiene contigo es tu tranquilidad, nosotros nos encargamos de todos los
                        trámites que se tengan que realizar, para que tu sólo tengas que ocuparte de decidir qué piso te
                        gusta o el color de tu Recamara.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <i class="fas fa-money-bill"></i>
                    <h6> ENTREGAS A TIEMPO

                    </h6>
                    <p>Tras analizar toda la información del proyecto, organizamos equipos de obra, asignamos tareas con
                        cronogramas detallados y planificamos logística y suministros para cumplir con los tiempos y
                        presupuesto. Además, garantizamos la puntualidad con una cláusula que penaliza retrasos en la
                        entrega.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <i class="fas fa-money-bill"></i>
                    <h6>GARANTÍA
                    </h6>
                    <p>Una vez que se ha hecho realidad el sueño de sus clientes Espatium arquitectos, les brinda 6
                        meses adicionales de garantia, para vicios ocultos cuyo objetivo es el de asegurar la total
                        satisfacción de sus clientes.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <i class="fas fa-money-bill"></i>
                    <h6>SEGURIDAD & TRANQUILIDAD
                    </h6>
                    <p>Nuestros proyectos son Seguros y sismo resistentes para tu tranquilidad.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <i class="fas fa-money-bill"></i>
                    <h6>SMARTS HOMES
                    </h6>
                    <p>Ofrecemos experiencias únicas que trascienden la tecnología, enfocándonos en crear momentos
                        inolvidables: cenas románticas, fiestas para tus hijos y la tranquilidad de un hogar seguro.
                        Nuestro objetivo es brindarte un nivel superior de comodidad y disfrute en tu propia casa.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <i class="fas fa-money-bill"></i>
                    <h6>EXCLUSIVIDAD
                    </h6>
                    <p>Nos especializamos en diseños únicos y exclusivos que reflejan la personalidad y valores de cada
                        cliente, adaptándonos a sus necesidades con materiales y técnicas innovadoras. Nuestros
                        servicios están dirigidos a quienes realmente valoran el buen diseño en una casa personalizada.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <i class="fas fa-money-bill"></i>
                    <h6>RETORNO DE INVERSIÓN DEL DISEÑO
                        ROD (Retorn of Design) Mayor Plusvalía y Mejor Valor de Reventa
                    </h6>
                    <p>En Espatium Arquitectos garantizamos un alto valor único en resultados (UHVR). Por cada 100 pesos
                        invertidos en diseño, nuestros clientes pueden recuperar 200 pesos gracias a un diseño más
                        funcional y estéticamente atractivo, lo que incrementa la plusvalía y el valor de mercado de su
                        hogar. Esto ofrece una ventaja competitiva en el sector inmobiliario, especialmente en un
                        mercado afectado por recesiones y crisis como la pandemia de 2020, donde un buen diseño marca la
                        diferencia.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <i class="fas fa-money-bill"></i>
                    <h6>BIM MEJOR TECNOLOGÍA = MEJOR CONSTRUCCIÓN
                    </h6>
                    <p>El uso de BIM en Espatium Arquitectos ofrece importantes ahorros, entre un 10% y 30% del costo
                        del proyecto, al detectar conflictos constructivos antes de comenzar, algo imposible en sistemas
                        2D. Además, el modelado 3D permite a los clientes supervisar avances y tomar decisiones sin
                        necesidad de viajar, accediendo a diseños detallados desde cualquier dispositivo.

                        Los modelos 3D brindan una experiencia inmersiva, mostrando cada ángulo del proyecto, desde
                        vistas exteriores hasta texturas interiores, eliminando interpretaciones en la construcción.
                        Esto asegura una ejecución fluida y precisa, con imágenes 3D ilimitadas y completamente
                        detalladas para los clientes. <br>Mejor tecnología = Mejor construcción.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <i class="fas fa-money-bill"></i>
                    <h6>SUSTENTABILIDAD

                    </h6>
                    <p>En Espatium Arquitectos nos enfocamos en sistemas constructivos amigables con el ambiente que
                        permitan ahorrar dinero y reducir el impacto ambiental. Incorporamos medidas de conservación de
                        energía adaptadas al entorno natural y las condiciones climáticas locales, priorizando un diseño
                        sostenible y eficiente.

                        Abordamos el impacto ambiental en dos etapas: construcción y operación. Aunque ambas requieren
                        atención, la operación tiene un impacto más duradero, afectando tanto al medio ambiente como al
                        presupuesto del propietario.

                        Gracias a un diseño eficiente y el uso de materiales y ecotecnologías sustentables, nuestras
                        casas pueden lograr hasta un 48% de ahorro en agua, electricidad y gas.
                    </p>
                </div>
            </div>
        </div>
        <a href="https://vincent8a1.fastfunnels.com/" class="btn-curve btn-color mt-30"><span>¿Listo para Iniciar tu proyecto?</span></a>
    </div>
</div>

