<header class="pages-header work-header bg-img valign" data-background="assets/img/009.png" data-overlay-light="9">
    <div class="container">
        <div class="section-head text-center mb-0">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-9 col-sm-11">
                    <h2 class="custom-font" style="color: #ddc287;">Nuestros Proyectos</h2>
                    
                </div>
            </div>
        </div>
        <h4 class="playfont">Nuestros proyectos son Unicos Irrepetibles y Sustentables.

            Cada proyecto  tiene clientes con aspiraciones y sueños únicos para su Casa y responde a sus valores y a su forma de vivir!
            
            Y cada Terreno de construcción tiene su propio conjunto de condiciones y aspectos destacados únicos.
            
            Al final nuestros clientes obtienen un diseño atemporal que  envejece muy bien con el tiempo! </h4> 
    </div>
   
</header>
<section class="portfolio" style="padding-top: 30px; padding-bottom: 30px; display: flex; flex-wrap: wrap;">
    <div class="container">
        <div class="row">

            <!-- filter links -->
            <div class="filtering text-center col-12">
                <div class="filter box">
<!--                     <span data-filter='*' class="active">Todos</span>
 -->                    <span data-filter='.interior'>Residencial</span>
                    <span data-filter='.theaters'>Comercial</span>
                    <span data-filter='.residential'>Industrial</span>
                </div>
            </div>

            <!-- gallery -->
            <div class="gallery twsty inf-lit full-width">

                <!-- gallery item -->
                <div class="items theaters four-column mt-50">
                    <div class="item-img bg-img" data-background="assets/img/portfolio/mas/01.jpg">
                        <a >
                            <div class="item-img-overlay"></div>
                        </a>
                    </div>
                    <div class="info mt-10">
                        <h5>Fantastic interior</h5>
                        <span>Interior Design</span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items theaters four-column mt-50">
                    <div class="item-img bg-img" data-background="assets/img/portfolio/mas/01.jpg">
                        <a >
                            <div class="item-img-overlay"></div>
                        </a>
                    </div>
                    <div class="info mt-10">
                        <h5>Fantastic interior</h5>
                        <span>Interior Design</span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items interior four-column mt-50">
                    <div class="item-img bg-img" data-background="assets/img/portfolio/mas/01.jpg">
                        <a >
                            <div class="item-img-overlay valign"></div>
                        </a>
                    </div>
                    <div class="info mt-10">
                        <h5>Choose Your Dream</h5>
                        <span>Architecture</span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items residential four-column mt-50">
                    <div class="item-img bg-img" data-background="assets/img/portfolio/mas/01.jpg">
                        <a >
                            <div class="item-img-overlay valign"></div>
                        </a>
                    </div>
                    <div class="info mt-10">
                        <h5>Luxury Villa</h5>
                        <span>Architecture</span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items interior theaters four-column mt-50">
                    <div class="item-img bg-img" data-background="assets/img/portfolio/mas/01.jpg">
                        <a >
                            <div class="item-img-overlay valign"></div>
                        </a>
                    </div>
                    <div class="info mt-10">
                        <h5>Creative Spaces</h5>
                        <span>Interior Design</span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items interior four-column mt-50">
                    <div class="item-img bg-img" data-background="assets/img/portfolio/mas/01.jpg">
                        <a >
                            <div class="item-img-overlay valign"></div>
                        </a>
                    </div>
                    <div class="info mt-10">
                        <h5>Choose Your Dream</h5>
                        <span>Architecture</span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items theaters four-column mt-50">
                    <div class="item-img bg-img" data-background="assets/img/portfolio/mas/01.jpg">
                        <a >
                            <div class="item-img-overlay"></div>
                        </a>
                    </div>
                    <div class="info mt-10">
                        <h5>Fantastic interior</h5>
                        <span>Interior Design</span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items interior four-column mt-50">
                    <div class="item-img bg-img" data-background="assets/img/portfolio/mas/01.jpg">
                        <a >
                            <div class="item-img-overlay valign"></div>
                        </a>
                    </div>
                    <div class="info mt-10">
                        <h5>Choose Your Dream</h5>
                        <span>Architecture</span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items residential four-column mt-50">
                    <div class="item-img bg-img" data-background="assets/img/portfolio/mas/01.jpg">
                        <a >
                            <div class="item-img-overlay valign"></div>
                        </a>
                    </div>
                    <div class="info mt-10">
                        <h5>Luxury Villa</h5>
                        <span>Architecture</span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items interior theaters four-column mt-50">
                    <div class="item-img bg-img" data-background="assets/img/portfolio/mas/01.jpg">
                        <a >
                            <div class="item-img-overlay valign"></div>
                        </a>
                    </div>
                    <div class="info mt-10">
                        <h5>Creative Spaces</h5>
                        <span>Interior Design</span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items residential four-column mt-50">
                    <div class="item-img bg-img" data-background="assets/img/portfolio/mas/01.jpg">
                        <a >
                            <div class="item-img-overlay valign"></div>
                        </a>
                    </div>
                    <div class="info mt-10">
                        <h5>Luxury Villa</h5>
                        <span>Architecture</span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="items interior theaters four-column mt-50">
                    <div class="item-img bg-img" data-background="assets/img/portfolio/mas/01.jpg">
                        <a >
                            <div class="item-img-overlay valign"></div>
                        </a>
                    </div>
                    <div class="info mt-10">
                        <h5>Creative Spaces</h5>
                        <span>Interior Design</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>