<app-header ></app-header>
	<app-home  [hidden]="global.activeRoute!='home'"></app-home>
    <app-projects  [hidden]="global.activeRoute!='projects'"></app-projects>
    <app-contact  [hidden]="global.activeRoute!='contact'"></app-contact>
    <app-about  [hidden]="global.activeRoute!='about'"></app-about>
    <app-services  [hidden]="global.activeRoute!='services'"></app-services>
    <app-resources  [hidden]="global.activeRoute!='resources'"></app-resources>
    <app-price  [hidden]="global.activeRoute!='price'"></app-price>
	<app-footer></app-footer>

  <div class="progress-wrap cursor-pointer">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>

<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>