<app-header ></app-header>
	<app-home  [hidden]="global.activeRoute!='home'"></app-home>
	<app-footer></app-footer> 
 
 <!-- Mouse Cursor  -->
 <div class="mouseCursor cursor-outer"></div>
 <div class="mouseCursor cursor-inner"><span>Drag</span></div>

 

 <!-- Search Dropdown Area -->

 <div class="search-popup">
     <span class="search-back-drop"></span>

     <div class="search-inner">
         <div class="container">                
             <button class="close-search"><span class="la la-times"></span></button>                
             <form method="post" action="index.html">
                 <div class="form-group">
                     <input type="search" name="search-field" value="" placeholder="Type your keyword" required="">
                     <button type="submit"><i class="fal fa-search"></i></button>                        
                 </div>
             </form>
         </div>
     </div>
 </div>

 <!-- Off-canvas Area-->

 <div class="extra-info">
     <div class="close-icon menu-close">
         <button>
             <i class="las la-times"></i>
         </button>
     </div>
     <div class="logo-side mb-30">
         <div class="logo">
             <a href="index-2.html" class="logo">Archipix.</a>
         </div>
     </div>
     <div class="side-info">
         <div class="contact-list mb-40">
             <!-- <h4>About</h4> -->
             <p>Welcome to Archipix, a full service architecture and interior design firm. We specialize in creating beautiful, functional spaces that reflect your unique style.</p>
             <img src="assets/img/offcanvas-img.jpg" alt="">

             <div class="mt-30 mb-30">
                 <a href="contact.html" class="white-btn">Get In Touch</a>
             </div>
         </div>
         <div class="social-area-wrap">
             <a href="index.html#"><i class="lab la-facebook-f"></i></a>                                    
             <a href="index.html#"><i class="lab la-instagram"></i></a>
             <a href="index.html#"><i class="lab la-linkedin-in"></i></a>
             <a href="index.html#"><i class="lab la-skype"></i></a>                
         </div>
     </div>
 </div>

 <div class="offcanvas-overlay"></div>


 <!-- back to top start -->
 <div class="progress-wrap">
     <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
         <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
     </svg>
 </div>