<footer class="main-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="item abot">
                    <div class="logo-footer mb-20">
                        <a class="logo">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                    </div>
                    <p>Nosotros nos encargamos de todo, desde la idea y concepto de desarrollo hasta la realización.</p>
                    <div class="social-icon">
                        <a href="https://www.facebook.com/EspatiumArquitectos" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a><i class="fab fa-twitter"></i></a>
                        <a><i class="fab fa-behance"></i></a>
                        <a><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="item usful-links">
                    <div class="fothead">
                        <h6>Links Útiles</h6>
                    </div>
                    <ul>
                        <li><i class="fas fa-chevron-right" (click)="global.setRoute('/services')"></i> <a>Servicios</a></li>
                        <li><i class="fas fa-chevron-right" (click)="global.setRoute('/prices')"></i> <a>Precios</a></li>
                        <li><i class="fas fa-chevron-right" (click)="global.setRoute('/resources')"></i> <a>Recursos</a></li>
                        <li><i class="fas fa-chevron-right" (click)="global.setRoute('/projects')"></i> <a>Projectos</a></li>
                        <li><i class="fas fa-chevron-right" (click)="global.setRoute('/contact')"></i> <a>Contactanos</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item fotcont">
                    <div class="fothead">
                        <h6>Escribenos</h6>
                    </div>
                    <a href="mailto:citas&#64;espatium-arquitectos.com">citas&#64;espatium-arquitectos.com</a>
                    
                </div>
            </div>
            <div class="col-lg-3">
                <div class="item fotcont">
                    <div class="fothead">
                        <h6>Visitanos</h6>
                    </div>
                   <p>Calle Montes Urales 755 Piso 5 Oficina 5459, Lomas de Chapultepec, C.P. 11000,Ciudad de México.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-left">
                        <p>© 2024, Espatium-Arquitectos. Desarrollado por <a
                                href="https://buckapi.com" target="_blank">Buckapi</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-right">
                        <p>Todos los derechos reservados</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>