<header class="pages-header bg-img valign parallaxie" data-background="assets/img/pg1.jpg" data-overlay-dark="5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cont text-center">
                    <h1>Precios</h1>
                    <div class="path">
                        <a (click)="global.setRoute('home')">Inicio</a><span>/</span><a class="active">Precios</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="blog-grid center bg-gray section-padding">
    <div class="container">

        <div class="section-head text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <h2 class="custom-font" style="color: #ddc287;">Paquetes de Diseño
                    </h2>

                </div>
            </div>
            <h5 class="playfont">
                Paquetes de Diseño
                Sabemos lo importante que es establecer el monto objetivo a invertir en tu proyecto, por eso trabajamos
                con precios fijos para los servicios de diseño y te presentamos paquetes atractivos, para que en base a
                tu elección escojas el mejor plan que mejor se adapte a Ti.
            </h5>
        </div>

        <div class="row">

            <div class="col-md-4 col-sm-6 col-lg-4 wow fadeInUp md-mb50" data-wow-delay=".3s">
                <div class="item wow fadeInUp md-mb50" data-wow-delay=".3s">
                    <div class="post-img">
                        <div class="img">
                            <img src="img/blog/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cont">
                        <div class="info">
                            <a href="about.html#0">Alex Smith</a>
                            <a href="about.html#0">Aug 06 2019</a>
                        </div>

                        <h5 class="playfont"><a href="about.html#0">In Good Taste: Mark Finlay Architects &
                                Interiors</a></h5>

                        <a href="blog-details.html" class="more">
                            <span class="custom-font">Read More</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="item wow fadeInUp md-mb50" data-wow-delay=".1s">
                    <div class="post-img">
                        <div class="img">
                            <img src="img/blog/2.jpg" alt="">
                        </div>
                    </div>
                    <div class="cont">
                        <div class="info">
                            <a href="about.html#0">Alex Smith</a>
                            <a href="about.html#0">Aug 06 2019</a>
                        </div>

                        <h5 class="playfont"><a href="about.html#0">Five Things You Should Know About Modern
                                Furniture.</a></h5>

                        <a href="blog-details.html" class="more">
                            <span class="custom-font">Read More</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="item wow fadeInUp md-mb50" data-wow-delay=".1s">
                    <div class="post-img">
                        <div class="img">
                            <img src="img/blog/2.jpg" alt="">
                        </div>
                    </div>
                    <div class="cont">
                        <div class="info">
                            <a href="about.html#0">Alex Smith</a>
                            <a href="about.html#0">Aug 06 2019</a>
                        </div>

                        <h5 class="playfont"><a href="about.html#0">Five Things You Should Know About Modern
                                Furniture.</a></h5>

                        <a href="blog-details.html" class="more">
                            <span class="custom-font">Read More</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>